<h2 class="forum_breadcrumb"><%= link_to t('forem.forum.forums'), forem.forums_path %> &raquo; <%= link_to get_category_title(topic.forum.category_id)%> &raquo;<%= link_to get_course_title(topic.forum.title), [forem, topic.forum] %> &raquo; <%= forem_emojify(topic.subject) %></h2>
